[submodule "vim/bundle/Vundle.git"]
	path = vim/bundle/Vundle.git
	url = https://github.com/VundleVim/Vundle.vim
[submodule "emacs/evil"]
	path = emacs/evil
	url = https://github.com/emacs-evil/evil.git
