[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "emacs/use-package"]
	path = emacs/use-package
	url = https://github.com/jwiegley/use-package.git
